body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}
main{
    background-color: white;
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin-right: 1em;
    min-width: fit-content;
}
#home nav li:nth-child(1) a,
#characters nav li:nth-child(2) a,
#story nav li:nth-child(3) a{
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    background-color: lightcoral;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
}
h2{
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 28px;
}
p{
    width: 480px;
    margin: 0;
    margin-bottom: 10px;
}
.character-list{
    display: flex;
}
.card{
    width: 300px;
    height: min-content;
    display: flex;
    border: 2px solid antiquewhite;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.card h3{
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
}
.card img{
    width: 250px;
    margin: 0;
    padding: 0;
}
.card p{
    width: 280px;
    margin: 0;
    margin-bottom: 10px;
}
footer{
    height: 100px;
}