@import url(https://fonts.bunny.net/css?family=barlow-condensed:100,200,300,400,500,600,700,800,900|barlow-semi-condensed:100,200,300,400,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
}
:root {
  --header-width: 250px;
  --main-color: #6b1931;
  --secondary-color: #cf5968;
  --h1-color: rgb(48, 44, 44);
  --padding-small: 1em;
  --padding-medium: 2em;
  --margin-small: 1em;
  --margin-medium: 2em;
  --gap: 1em;
}

header {
  background-color: var(--main-color);
  width: 100%;
  height: 75px;

  display: flex;
  align-items: center;
  gap: calc(100% - 600px);
}
#site-title {
  padding-left: 2.5em;
  margin-top: -5px;
  color: white;
}
#site-title h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  margin-top: -3px;
}
#site-title h3 strong {
  font-weight: 300;
  text-transform: uppercase;
}
nav {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
nav p {
  color: white;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  color: var(--main-color);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  text-align: center;
}
.dot:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

/* #home nav .dot:nth-child(1) a, **/
#step1 header nav div a:nth-child(1) .dot,
#step2 header nav div a:nth-child(2) .dot,
#step3 header nav div a:nth-child(3) .dot,
#step4 header nav div a:nth-child(4) .dot,
#step5 header nav div a:nth-child(5) .dot,
#step6 header nav div a:nth-child(6) .dot {
  background-color: white;
}

#hero {
  width: 100%;
  height: 150px;
  background-image: url(/projects/project-2/images/proj2Banner.jpg);
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  max-width: 430px;
  font-size: 32pt;
  margin-bottom: 20px;
  color: var(--h1-color);
  text-align: left;
  font-weight:700;
}
h1 strong{
  font-weight: 600;
}
h2 {
  text-transform: uppercase;
  font-size: 24pt;
  width: 350px;
}
p {
  font-size: 15pt;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding-bottom: var(--padding-small);
}
body {
  background-color: whitesmoke;
}
main {
  display: flex;
  justify-content: center;
  background-image: url(/projects/project-2/images/Paper-Texture-01_by-GenevievesDesignStudio.jpg);
  max-width: 100%;
  padding-top: 25px;
}
.grid {
  grid-gap: var(--padding-medium);
  grid-template-columns: 400px auto;
  grid-template-areas:
    "header header"
    "col1 col2"
    "footer footer";
  margin-top: var(--marign-medium);
  margin-bottom: var(--margin-medium);
  box-shadow: 0px 0px 5px 2px lightgray;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.demo-image {
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
#instructions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 100px;
  max-width: 430px;
  padding: 25px;
  padding-left: 0px;
}

img {
  height: 600px;
  padding: 10px;
}

#page-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.next {
  background-color: var(--main-color);
  padding: 10px;
  padding-top: 5px;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.previous {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--main-color);
  width: 25px;
  transform: scaleX(-1);
  margin-right: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: left;
  padding-left: 10px;
}
.previous .chevron{
  height: 12px;
}
.next:hover,
.previous:hover {
  background-color: var(--secondary-color);
}
.chevron {
  margin-top: 3px;
  padding-bottom: 5px;
  margin-right: -8px;
  width: 20px;
  background-image: url(/projects/project-2/images/chevron.svg);
  background-repeat: no-repeat;
}

footer {
  background-color: var(--main-color);
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#copyright {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
}

.nav-next {
  background-color: var(--main-color);
  padding: 5px;
  padding-top: 0;
  padding-bottom: 2px;
  margin-bottom: 7px;
  max-width: fit-content;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--secondary-color);
}
.nav-next:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    height: fit-content;
  }
  #site-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  #site-title h3 {
    margin-right: 50px;
    padding-bottom: 5px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .grid {
    flex-direction: column-reverse;
  }
  #instructions {
    padding: 25px;
  }
  .demo-image{
    margin-top: -50px;
  }
}
